<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Ваш новый пароль</title>
  </head>
  <body>
    <p>Спасибо, что вошли на наш блог через гугл</p>
    <p>Ваш временный пароль для входа по логин/пароль: <%= password %></p>
    <p>Вы можете изменить его в своём профиле</p>
  </body>
</html>
